/.vs
/src/Hisa.App/bin/Debug/net10.0
/src/Hisa.App/obj
/src/Hisa.Core/bin/Debug/net10.0
/src/Hisa.Core/obj
/src/Hisa.Data/bin/Debug/net10.0
/src/Hisa.Data/obj
/src/Hisa.Esi/bin/Debug/net10.0
/src/Hisa.Esi/obj
/src/Hisa.Logs/bin/Debug/net10.0
/src/Hisa.Logs/obj
/src/Hisa.Rendering/bin/Debug/net10.0
/src/Hisa.Rendering/obj
/src/Hisa.Services/bin/Debug/net10.0
/src/Hisa.Services/obj
/tests/Hisa.Core.Tests/bin/Debug/net10.0
/tests/Hisa.Core.Tests/obj
/tests/Hisa.Logs.Tests/bin/Debug/net10.0
/tests/Hisa.Logs.Tests/obj
/tests/*/bin/*
/tests/*/obj
/HISA_Project_Plan.md
src/Hisa.App/Data/eve-hk-sde.db
src/Hisa.App/bin/*
src/Hisa.Core/bin/*
src/Hisa.Rendering/bin/*
src/Hisa.Data/bin/*
src/Hisa.Esi/bin/*
src/Hisa.Logs/bin/*
src/Hisa.Services/bin/*
build/releases/*
tests/Hisa.Services.Tests/bin/Debug/net10.0/.msCoverageSourceRootsMapping_Hisa.Services.Tests
tests/Hisa.Services.Tests/bin/Debug/net10.0/CoverletSourceRootsMapping_Hisa.Services.Tests
tests/Hisa.Services.Tests/obj/Hisa.Services.Tests.csproj.nuget.dgspec.json
tests/Hisa.Services.Tests/obj/Hisa.Services.Tests.csproj.nuget.g.props
tests/Hisa.Services.Tests/obj/Hisa.Services.Tests.csproj.nuget.g.targets
tests/Hisa.Services.Tests/obj/project.assets.json
tests/Hisa.Services.Tests/obj/project.nuget.cache
tests/Hisa.Services.Tests/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
tests/Hisa.Services.Tests/obj/Debug/net10.0/Hisa.Ser.4C4E855C.Up2Date
tests/Hisa.Services.Tests/obj/Debug/net10.0/Hisa.Services.Tests.AssemblyInfo.cs
tests/Hisa.Services.Tests/obj/Debug/net10.0/Hisa.Services.Tests.AssemblyInfoInputs.cache
tests/Hisa.Services.Tests/obj/Debug/net10.0/Hisa.Services.Tests.assets.cache
tests/Hisa.Services.Tests/obj/Debug/net10.0/Hisa.Services.Tests.csproj.AssemblyReference.cache
tests/Hisa.Services.Tests/obj/Debug/net10.0/Hisa.Services.Tests.csproj.CoreCompileInputs.cache
tests/Hisa.Services.Tests/obj/Debug/net10.0/Hisa.Services.Tests.csproj.FileListAbsolute.txt
tests/Hisa.Services.Tests/obj/Debug/net10.0/Hisa.Services.Tests.dll
tests/Hisa.Services.Tests/obj/Debug/net10.0/Hisa.Services.Tests.GeneratedMSBuildEditorConfig.editorconfig
tests/Hisa.Services.Tests/obj/Debug/net10.0/Hisa.Services.Tests.genruntimeconfig.cache
tests/Hisa.Services.Tests/obj/Debug/net10.0/Hisa.Services.Tests.GlobalUsings.g.cs
tests/Hisa.Services.Tests/obj/Debug/net10.0/Hisa.Services.Tests.pdb
tests/Hisa.Services.Tests/obj/Debug/net10.0/Hisa.Services.Tests.sourcelink.json
tests/Hisa.Services.Tests/obj/Debug/net10.0/Avalonia/Resources.Inputs.cache
tests/Hisa.Services.Tests/obj/Debug/net10.0/ref/Hisa.Services.Tests.dll
tests/Hisa.Services.Tests/obj/Debug/net10.0/refint/Hisa.Services.Tests.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/Avalonia.Base.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/Avalonia.Controls.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/Avalonia.DesignerSupport.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/Avalonia.Dialogs.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/Avalonia.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/Avalonia.Markup.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/Avalonia.Markup.Xaml.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/Avalonia.Metal.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/Avalonia.MicroCom.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/Avalonia.OpenGL.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/Avalonia.Remote.Protocol.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/Avalonia.Vulkan.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/Hisa.Core.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/Hisa.Core.pdb
tests/Hisa.Services.Tests/bin/Debug/net10.0/Hisa.Data.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/Hisa.Data.pdb
tests/Hisa.Services.Tests/bin/Debug/net10.0/Hisa.Esi.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/Hisa.Esi.pdb
tests/Hisa.Services.Tests/bin/Debug/net10.0/Hisa.Logs.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/Hisa.Logs.pdb
tests/Hisa.Services.Tests/bin/Debug/net10.0/Hisa.Rendering.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/Hisa.Rendering.pdb
tests/Hisa.Services.Tests/bin/Debug/net10.0/Hisa.Services.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/Hisa.Services.pdb
tests/Hisa.Services.Tests/bin/Debug/net10.0/Hisa.Services.Tests.deps.json
tests/Hisa.Services.Tests/bin/Debug/net10.0/Hisa.Services.Tests.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/Hisa.Services.Tests.pdb
tests/Hisa.Services.Tests/bin/Debug/net10.0/Hisa.Services.Tests.runtimeconfig.json
tests/Hisa.Services.Tests/bin/Debug/net10.0/MicroCom.Runtime.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/Microsoft.Data.Sqlite.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/Microsoft.Extensions.Configuration.Abstractions.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/Microsoft.Extensions.Configuration.Binder.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/Microsoft.Extensions.Configuration.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/Microsoft.Extensions.DependencyInjection.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/Microsoft.Extensions.Diagnostics.Abstractions.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/Microsoft.Extensions.Diagnostics.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/Microsoft.Extensions.FileProviders.Abstractions.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/Microsoft.Extensions.Hosting.Abstractions.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/Microsoft.Extensions.Http.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/Microsoft.Extensions.Logging.Abstractions.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/Microsoft.Extensions.Logging.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/Microsoft.Extensions.Options.ConfigurationExtensions.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/Microsoft.Extensions.Options.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/Microsoft.Extensions.Primitives.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/Microsoft.TestPlatform.CommunicationUtilities.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/Microsoft.TestPlatform.CoreUtilities.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/Microsoft.TestPlatform.CrossPlatEngine.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/Microsoft.TestPlatform.PlatformAbstractions.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/Microsoft.TestPlatform.Utilities.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/Microsoft.VisualStudio.TestPlatform.Common.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/NetTopologySuite.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/Newtonsoft.Json.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/SQLitePCLRaw.batteries_v2.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/SQLitePCLRaw.core.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/SQLitePCLRaw.provider.e_sqlite3.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/testhost.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/testhost.exe
tests/Hisa.Services.Tests/bin/Debug/net10.0/xunit.abstractions.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/xunit.assert.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/xunit.core.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/xunit.execution.dotnet.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/xunit.runner.visualstudio.testadapter.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/runtimes/browser-wasm/nativeassets/net9.0/e_sqlite3.a
tests/Hisa.Services.Tests/bin/Debug/net10.0/runtimes/linux-arm/native/libe_sqlite3.so
tests/Hisa.Services.Tests/bin/Debug/net10.0/runtimes/linux-arm64/native/libe_sqlite3.so
tests/Hisa.Services.Tests/bin/Debug/net10.0/runtimes/linux-armel/native/libe_sqlite3.so
tests/Hisa.Services.Tests/bin/Debug/net10.0/runtimes/linux-mips64/native/libe_sqlite3.so
tests/Hisa.Services.Tests/bin/Debug/net10.0/runtimes/linux-musl-arm/native/libe_sqlite3.so
tests/Hisa.Services.Tests/bin/Debug/net10.0/runtimes/linux-musl-arm64/native/libe_sqlite3.so
tests/Hisa.Services.Tests/bin/Debug/net10.0/runtimes/linux-musl-riscv64/native/libe_sqlite3.so
tests/Hisa.Services.Tests/bin/Debug/net10.0/runtimes/linux-musl-s390x/native/libe_sqlite3.so
tests/Hisa.Services.Tests/bin/Debug/net10.0/runtimes/linux-musl-x64/native/libe_sqlite3.so
tests/Hisa.Services.Tests/bin/Debug/net10.0/runtimes/linux-ppc64le/native/libe_sqlite3.so
tests/Hisa.Services.Tests/bin/Debug/net10.0/runtimes/linux-riscv64/native/libe_sqlite3.so
tests/Hisa.Services.Tests/bin/Debug/net10.0/runtimes/linux-s390x/native/libe_sqlite3.so
tests/Hisa.Services.Tests/bin/Debug/net10.0/runtimes/linux-x64/native/libe_sqlite3.so
tests/Hisa.Services.Tests/bin/Debug/net10.0/runtimes/linux-x86/native/libe_sqlite3.so
tests/Hisa.Services.Tests/bin/Debug/net10.0/runtimes/maccatalyst-arm64/native/libe_sqlite3.dylib
tests/Hisa.Services.Tests/bin/Debug/net10.0/runtimes/maccatalyst-x64/native/libe_sqlite3.dylib
tests/Hisa.Services.Tests/bin/Debug/net10.0/runtimes/osx-arm64/native/libe_sqlite3.dylib
tests/Hisa.Services.Tests/bin/Debug/net10.0/runtimes/osx-x64/native/libe_sqlite3.dylib
tests/Hisa.Services.Tests/bin/Debug/net10.0/runtimes/win-arm/native/e_sqlite3.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/runtimes/win-arm64/native/e_sqlite3.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/runtimes/win-x64/native/e_sqlite3.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/runtimes/win-x86/native/e_sqlite3.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/Hisa.Services.Tests/bin/Debug/net10.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
