/.vs
/src/Hisa.App/bin/Debug/net10.0
/src/Hisa.App/obj
/src/Hisa.Core/bin/Debug/net10.0
/src/Hisa.Core/obj
/src/Hisa.Data/bin/Debug/net10.0
/src/Hisa.Data/obj
/src/Hisa.Esi/bin/Debug/net10.0
/src/Hisa.Esi/obj
/src/Hisa.Logs/bin/Debug/net10.0
/src/Hisa.Logs/obj
/src/Hisa.Rendering/bin/Debug/net10.0
/src/Hisa.Rendering/obj
/src/Hisa.Services/bin/Debug/net10.0
/src/Hisa.Services/obj
/tests/Hisa.Core.Tests/bin/Debug/net10.0
/tests/Hisa.Core.Tests/obj
/tests/Hisa.Logs.Tests/bin/Debug/net10.0
/tests/Hisa.Logs.Tests/obj
/HISA_Project_Plan.md
src/Hisa.App/Data/eve-hk-sde.db
